sourceDir="/home/krishagni/Desktop/jenkins-scripts/Release Build"
destination="/home/krishagni/Desktop/jenkins-scripts/Demo-Site-Deploy"
build=openspecimen_v8.2.1.RC1.zip
paid_plugins=("os-edc-v8.2.1.RC1.zip" "os-starter-kit-build-2022-03-03.zip" "os-supplies-v8.2.1.RC1.zip" "os-tracker-v8.2.1.RC1.zip")
