sourceDir="/home/krishagni/Desktop/jenkins-scripts/Release Build"
destination="/home/krishagni/Desktop/jenkins-scripts/Demo-Site-Deploy"
build_version=v8.2.1.RC1.zip
paid_plugins=("os-edc-$build_version.zip" "os-starter-kit-$build_version.zip" "os-supplies-$build_version.zip" "os-tracker-$build_version.zip")
