userName=
token=
url=
currentTime=$(date "+%Y_%m_%d_%H%M%S")
tempAllIssues=temp-list-$currentTime.csv
allIssues=jira-support-issues-$currentTime.csv
allIssuesCsv=all-support-issues-$currentTime.csv
issuesJson=issues-$currentTime.json
outputDir=output
loginName=admin
password=Login@123
url=http://localhost:8080/openspecimen
tempFile=/tmp/$$.tmp
