userName=kaustubh@krishagni.com
token=IB9nED7S0WqWdwge4Rfx03A6
url=https://openspecimen.atlassian.net
currentTime=$(date "+%Y_%m_%d_%H%M%S")
currentDate=$(date "+%Y-%m-%d")
tempAllIssues=temp-list-$currentTime.csv
allIssues=jira-support-issues-$currentTime.csv
allIssuesCsv=all-support-issues-$currentTime.csv
issuesJson=issues-$currentTime.json
outputDir=output
loginName=kaustubh@krishagni.com
password=Login@123
url=http://localhost:8080/openspecimen
tempFile=/tmp/$$.tmp
finalOutput=finalOuput
logDir=logs
logFile=log-$currentTime.log

