username=                          # Username to call the REST APIs.
password=                          # Password of the user.
url=                               # URL of the host.
aql=                               # AQL that you are executing 
drivingForm=                       # Driving form determines the search perspective. When left empty, it defaults to Participant.
wideRowMode=                       #Specifies whether multi-valued attributes result in a single row or one row per value. Default value is OFF. Other permitted values are SHALLOW and DEEP. Try out to see what fits best for your use case. 
outputFile="queryData_$(date +'%Y-%m-%d_%H-%M-%S').zip"       # Output file
